*{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background-color:rgba(80, 52, 80, 0.781);
}

#pukul
{
    text-align: center;
    margin-left: 0px;
    font-size: 100;
    font-weight: lighter;
    letter-spacing: 5px;

}
#tanggal
{
    margin-left: 0px;
    font-style: normal;
}
.profil
{
    font-size: 12px;

}
h2
{
    text-align: center;
}